<!doctype html>
<html lang="en" ng-app="tributeApp">
<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="CrTablesCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!--Sidebar content-->

                Encounter Level:
                <select ng-model="query.cr">
                    <option value=""></option>
                    <option ng-repeat="cr in crTables" value="{{$index+1}}">{{$index+1}}</option>
                </select>

            </div>
            <div class="col-md-3">
                <!--Body content-->
                <table ng-repeat="cr in crTables | filter:query:matchEmptyOrExact(query.cr)">
                    <tr><th colspan="4">CR: {{cr.cr}}</th></tr>
                    <tr>
                        <th>%</th><th>Coins</th><th>Goods</th><th>Items</th>
                    </tr>
                    <tr ng-repeat="row in cr.table">
                        <td>{{row.percent}}</td>
                        <td>{{formatDiceToRoll(
                            row.treasure.coins.dice.number, row.treasure.coins.dice.sides, row.treasure.coins.factor)}}
                            {{row.treasure.coins.type}}</td>
                        <td><span ng-repeat="good in row.treasure.goods track by $index">{{good}} </span></td>
                        <td><span ng-repeat="item in row.treasure.items track by $index">{{item}} </span></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-1">
                <button ng-show="query.cr" ng-click="rollTable(query.cr)" class="btn btn-default">Roll</button>
            </div>
            <div class="col-md-6">
                <div ng-show="d100Result">d100: {{d100Result}}</div>
                <div ng-show="coinsTotal">coins: {{coinsTotal}}</div>
                <div ng-show="goods">goods: {{goods}}</div>
                <div ng-show="items">items: {{items}}</div>
            </div>
        </div>
    </div>
</body>
</html>
